#tabuleiro {
    width: 600px;
    height: 600px;
    border: 1px black solid;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 200px);

}


.casa {
    width: 200px;
    height: 200px;
    background-color: silver;
    border:1px #ffffff dotted;
}